

      .banner{

             background-color: rgb(255,103,103);
                   margin-top :100px;
                    margin-right:100px;
                    margin-left:100px;
                 margin-bottom:50px;
                 margin-height :100px;


                    }




          .banner-text{


                   margin-left : 500px;
                   margin-top :50px;
}

      .h4{
            margin-right:50px;




      }




